@page "/"

<h1>Swisstubers!</h1>

<p>A list of swiss youtube channel names and when they were created.</p>

<Swisstubers />

<p>Data source: <a href="https://github.com/FlashJunior/swisstubers.info">https://github.com/FlashJunior/swisstubers.info</a></p>
